html, body { border: 0; margin: 0; padding: 0; height: 100%;}

body { 
    background-color: #444; 
    width: 100%; 
    
}

canvas { display: block; margin: 0 auto; border: 4px solid #fafafa }

#header {
    background: #222;
    color: white;
    margin: 0 0 15px 0;
    padding: 25px 0;
    text-align: left;
    text-indent: 25px;
    border-bottom: 1px solid #fafafa;
}

#header .back img {
	width: 32px;
	margin-right: 15px;
	vertical-align: middle;
}

#samples {
	height: 100%;
}

.sample-item {
    float: left;
    padding: 5px;
    margin: 0 25px 15px 25px;
    display: block;
    background-color: #4c46ea;
    width: 320px;
    height: 260px;
    text-decoration: none;
    color: #fff;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}

.sample-item img {
    margin: auto;
    display: block;
    vertical-align: middle;
}

.sample-item .title {
    margin: 3px 0 0 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    text-align: right;
}

#footer {
    clear: left;
    background: #222;
    color: white;
    margin: 0 0 0 0;
    padding: 10px 0;
    text-align: left;
    text-indent: 25px;
    border-top: 1px solid #fafafa;
}

#footer p {
    text-align: center;
}